version: '3.9'
services:
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    env_file: .env
    volumes:
      - ./:/app
    ports:
      - "8000:8000"
    restart: unless-stopped

  bot:
    build: .
    command: python telegram_bot.py
    env_file: .env
    volumes:
      - ./:/app
    restart: unless-stopped
